@font-face {
  font-family: Rick and Morty Font;
  src: url("../../assets/fonts/get_schwifty.ttf");
}

.tit {
  font-family: Rick and Morty Font;
}

.sel {
  border: none;
  border-radius: 4px;
  margin: 1%;
}
.search {
  border: none;
  border-radius: 4px;
  margin: 1%;
}
