.App {
  text-align: center;
  /*background-image: url("https://i.pinimg.com/originals/98/29/21/9829215db6f9210c0ae4e318e854cb1f.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  */
}
